RESTIC_PASSWORD={{ backup.pass }}
OUTPUT=''

{% for host in backup.hosts %}
DUMP=$(/home/bup/restic --tag weekly --exclude={/dev,/media,/mnt,/proc,/run,/sys,/tmp,/var/tmp} -r sftp:bup@{{ host }}:repo backup /)
OUTPUT+="${DUMP}\n\n"
{% endfor %}

/home/bup/swaks \
    --auth \
    --server {{ smtp.host }} \
    --auth-user {{ smtp.user }} \
    --auth-password {{ smtp.pass }} \
    --from {{ backup.from }} \
{% for email in backup.to %}
    --to {{ email }} \
{% endfor %}
    --header "From: \"{{ company }}\" <{{ backup.from }}>" \
    --header "Subject: Backup of {{ inventory_hostname }} complete" \
    --body "${OUTPUT}"