[authserver]

# AUTH SERVER SETTINGS
LogsDir = "../log"
LoginDatabaseInfo = "{{ database.auth.host }};{{ database.auth.port }};{{ mysql.user }};{{ mysql.pass }};{{ database.auth.name }}"

# UPDATE SETTINGS
Updates.EnableDatabases = 0