[authserver]

# AUTH SERVER SETTINGS
LogsDir = "../log"
LoginDatabaseInfo = "{{ mysql.host }};{{ mysql.port }};{{ mysql.user }};{{ mysql.pass }};{{ database.auth }}"

# UPDATE SETTINGS
Updates.EnableDatabases = 0