export default
{
    "USERNAME": "{{ acore.console.username }}",
    "PASSWORD": "{{ acore.console.password }}",
    "DATABASE": "mysql://{{ mysql.user }}:{{ mysql.pass }}@{{ mysql.host }}:{{ mysql.port }}/acore_auth",
    "HOST": "{{ acore.console.host }}",
    "PORT": {{ acore.console.port }}
}
