[worldserver]
LogsDir = "../log"
LoginDatabaseInfo = "127.0.0.1;3306;acore;{{ mysql_pass }};acore_auth"
WorldDatabaseInfo = "127.0.0.1;3306;acore;{{ mysql_pass }};acore_world"
CharacterDatabaseInfo = "127.0.0.1;3306;acore;{{ mysql_pass }};acore_characters"
MaxPlayerLevel = 19
MaxPrimaryTradeSkill = 11
Motd = "Welcome to the Wobbling Goblin!"