[worldserver]

# CONNECTIONS AND DIRECTORIES
RealmID = {{ realmlist.id }}
LogsDir = "../log"
LoginDatabaseInfo = "{{ database.auth.host }};{{ database.auth.port }};{{ mysql.user }};{{ mysql.pass }};{{ database.auth.name }}"
WorldDatabaseInfo = "{{ database.world.host }};{{ database.world.port }};{{ mysql.user }};{{ mysql.pass }};{{ database.world.name }}"
CharacterDatabaseInfo = "{{ database.characters.host }};{{ database.characters.port }};{{ mysql.user }};{{ mysql.pass }};{{ database.characters.name }}"
WorldServerPort = {{ realmlist.port }}

# SERVER SETTINGS
RealmZone = {{ realmlist.timezone }}
MaxPlayerLevel = 19
MaxPrimaryTradeSkill = 11
MinPetitionSigns = 1
Motd = "Welcome to the Wobbling Goblin!"

# PLAYER INTERACTION
AllowTwoSide.Interaction.Calendar = 1
AllowTwoSide.Interaction.Chat = 1
AllowTwoSide.Interaction.Emote = 1
AllowTwoSide.Interaction.Channel = 1
AllowTwoSide.Interaction.Group = 1
AllowTwoSide.Interaction.Guild = 1
AllowTwoSide.Interaction.Auction = 1
AllowTwoSide.Interaction.Mail = 1
AllowTwoSide.WhoList = 1
AllowTwoSide.AddFriend = 1
AllowTwoSide.Trade = 1

# CREATURE SETTINGS
Rate.Creature.Aggro = 0.8

# VISIBILITY AND DISTANCES
Visibility.Distance.Continents = 120

# BATTLEGROUND CONFIG
Battleground.QueueAnnouncer.Enable = 1
Battleground.QueueAnnouncer.Limit.MinPlayers = 1

# CONSOLE AND REMOTE ACCESS
SOAP.Enabled = 1
SOAP.Port = {{ acore.console.port }}

# CUSTOM SERVER OPTIONS
Guild.BankTabCost0 = 500000
Guild.BankTabCost1 = 1250000
Guild.BankTabCost2 = 2500000
Guild.BankTabCost3 = 5000000
Guild.BankTabCost4 = 12500000
Guild.BankTabCost5 = 25000000
