export default
{
    "COMPANY": "{{ company }}",
    "WEBSITE": "{{ website }}",
    "EMAIL": "{{ email }}",
    "TEST_REALM_ID": {{ hostvars['test']['realmlist']['id'] }},
    "DISCORD": {
        "BOT_TOKEN": "{{ discord.bot_token }}",
        "CLIENT_ID": "{{ discord.client_id }}",
        "GUILD_ID": "{{ discord.guild_id }}",
        "LOG_ID": "{{ discord.log_id }}"
    },
    "DATABASES": {
        "AUTH": "mysql://{{ mysql.user }}:{{ mysql.pass }}@{{ database.auth.host }}:{{ database.auth.port }}/{{ database.auth.name }}",
        "CHARACTERS": "mysql://{{ mysql.user }}:{{ mysql.pass }}@{{ database.characters.host }}:{{ database.characters.port }}/{{ database.characters.name }}",
        "WORLD": "mysql://{{ mysql.user }}:{{ mysql.pass }}@{{ database.world.host }}:{{ database.world.port }}/{{ database.world.name }}"
    },
    "ROLES": {
        "INNKEEPER": "{{ discord.roles.innkeeper }}",
        "MANAGER": "{{ discord.roles.manager }}",
        "STAFF": "{{ discord.roles.staff }}",
        "TRAINEE": "{{ discord.roles.trainee }}",
        "MEMBER": "{{ discord.roles.member }}"
    },
    "SMTP": {
        "HOST": "{{ smtp.host }}",
        "USER": "{{ smtp.user }}",
        "PASS": "{{ smtp.pass }}"
    }
}
