export default
{
    "COMPANY": "{{ company }}",
    "WEBSITE": "{{ website }}",
    "DISCORD_BOT_TOKEN": "{{ discord.bot_token }}",
    "DISCORD_CLIENT_ID": "{{ discord.client_id }}",
    "DISCORD_GUILD_ID": "{{ discord.guild_id }}",
    "DISCORD_BOT_DB": "mysql://{{ mysql.user }}:{{ mysql.pass }}@{{ mysql.host }}:{{ mysql.port }}",
    "REALMS": {
        "AUTH": "{{ database.auth }}",
        "LIVE": {
            "CHARACTERS": "{{ database.characters }}",
            "WORLD": "{{ database.world }}"
        },
        "TEST": {
            "CHARACTERS": "{{ database.test.characters }}",
            "WORLD": "{{ database.test.world }}"
        }
    },
    "TEST_REALM_ID": 2,
    "ROLES": {
        "INNKEEPER": "{{ discord.roles.innkeeper }}",
        "MANAGER": "{{ discord.roles.manager }}",
        "STAFF": "{{ discord.roles.staff }}",
        "TRAINEE": "{{ discord.roles.trainee }}",
        "MEMBER": "{{ discord.roles.member }}"
    },
    "SMTP_HOST": "{{ smtp.host }}",
    "SMTP_USER": "{{ smtp.user }}",
    "SMTP_PASS": "{{ smtp.pass }}",
    "EMAIL_ADDRESS": "{{ email }}"
}
