export default
{
    "COMPANY": "{{ company }}",
    "WEBSITE": "{{ website }}",
    "DISCORD_BOT_TOKEN": "{{ discord_bot_token }}",
    "DISCORD_CLIENT_ID": "{{ discord_client_id }}",
    "DISCORD_GUILD_ID": "{{ discord_guild_id }}",
    "DISCORD_BOT_DB": "{{ db_uri }}",
    "SMTP_HOST": "{{ smtp_host }}",
    "SMTP_USER": "{{ smtp_user }}",
    "SMTP_PASS": "{{ smtp_pass }}",
    "EMAIL_ADDRESS": "{{ noreply }}"
}
