winzig="cd /home/winzig/winzig && /usr/bin/node /home/winzig/winzig/index.js"

winzig_session="winzig-session"

if tmux new-session -d -s $winzig_session; then
    echo "Created authserver session: $winzig_session"
else
    echo "Error when trying to create authserver session: $winzig_session"
fi

if tmux send-keys -t $winzig_session "$winzig" C-m; then
    echo "Executed \"$winzig\" inside $winzig_session"
    echo "You can attach to $winzig_session and check the result using \"tmux attach -t $winzig_session\""
else
    echo "Error when executing \"$winzig\" inside $winzig_session"
fi